# This is an example .env file for the Ryze API. Copy this file to .env and fill in the values with your own configuration.

# DATABASE_URL is the connection string for your PostgreSQL database. if you are using Supabase, you can find this in your project settings.
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[PROJECT_REF].supabase.co:5432/postgres"

# JWT_SECRET is the secret key used to sign and verify JSON Web Tokens (JWTs). Change this to a strong, unique value in production
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"


PORT=3000
NODE_ENV="development"

# Cloudinary configuration for image uploads. You can create a free account at https://cloudinary.com/ and get your cloud name, API key, and API secret.
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# ADMIN_KEY is a secret key used for administrative access to the API. Change this to a strong, unique value in production. (TODO: Implement a more secure admin authentication mechanism in the future.)
ADMIN_KEY=ryze-admin-2024

# AI API KEYS
GEMINI_API_KEY="your-gemini-api-key"

# Logging configuration
# Levels: trace | debug | info | warn | error | silent
LOG_LEVEL="debug"
LOG_DIR="logs"
LOG_FILE_MAX_SIZE="10m"
LOG_FILE_MAX_FILES="7"